*{
	margin: 0px;
	padding: 0px;
}


#map_area{
	position:relative;
	max-width:800px;
	margin: auto;
	overflow:visible;

}


h2{
	margin-top: 20px; 
	color:#272822;
	text-align: center;

}

canvas{
	color:yellow;
	margin:0px;
	padding:0px !important;

}